body{
    text-align: center;
    background-image: url('/img/School.jpg');
    background-repeat: no-repeat;	/*pour que l'image de fond ne se repete pas*/
}
nav{
    text-align: end;
    margin: auto;
    padding-right: 5vh;
}
nav a{
    margin: 2vh;
}
h1{
    border-radius: 50%;
}
.table{
    border:black 2px solid;
}
tr{
    border:black 2px solid;
}
#borderSchool{
    background-color: green;
    border:black 2px solid;
}
td{
    background-color:white;
    border:black 2px solid; 
}
#schools td{
    margin: auto;
    background-color: whitesmoke;
    border: black 2px dotted; 
} 
#schools a{
    color:green;
}
#schools button{
    background-color: red;
    color: black;
} 